@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700;800;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Nunito', sans-serif;
  z-index: 1;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.wrap-header a {
  text-decoration: none;
  display: block;
  max-width: 200px;
}

 .wrap-header input[type="checkbox"], .burger-menu .fa-bars, .burger-menu .fa-times  {
  position: absolute;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  width: 28px;
  height: 28px;
}

.wrap-header .fa-bars, .wrap-header .fa-times {
  font-size: 20px;
}

.wrap-header input[type="checkbox"] {
  opacity: 0;
  z-index: 2;
}

.wrap-header {
  color: black;
  position: relative;
  min-height: 28px;
  z-index: 1;
}

.wrap-header nav {
  display: none;
}

.wrap-header input:checked ~ nav {
  display: block;
}

.wrap-header input:checked ~ .fa-bars {
  display: none;
}

.wrap-header input:not(:checked) ~ .fa-times {
  display: none;
}

.link_orange {
  color: rgb(255, 68, 31);
  font-weight: 700;
}

.input{
  background-color: rgb(247, 248, 249);
  border-radius: 4px;
  height: 26px;
  border: none;
  padding: 8px 17px 8px 8px;
  caret-color: rgb(41, 216, 132);
}

.input:focus {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: rgb(41, 216, 132);
  outline: rgb(41, 216, 132);
}

.button-cart {
  background-color: rgb(230, 235, 241);
  color: rgb(179, 185, 194);
  border: none;
  padding: 8px 17px 8px 8px;
  border-radius: 4px;
}

.link_green {
  font-weight: 800;
  color: rgb(41, 216, 132);
}

.bold_orange {
  font-weight: 900;
  color: rgb(255, 68, 31);
}

.bold_black {
  font-weight: 900;
}

.principal {
  display: flex;
  background-color: rgb(247, 248, 249);
  height: 85vh;
}

.input-form {
  box-shadow: rgb(230 235 241) 0px 1px 0px 0px;
  background-color: #fff;
  height: 60px;
  padding: 18px 16px;
  display: flex;
  flex-direction: row;
  border: none;
  max-width: 900px;
  border: ;
}

.input-form input {
  font-size: 20px;
  flex-grow: 2;
  border: none;
  color: rgb(106, 105, 110);
  outline: none;
}

.input-form button {
  color: #fff;
  border: none;
  background-color: rgb(255, 68, 31);
  overflow: hidden;
  border-radius: 4px;
}

.fa-search {
  transform: scale(1.7);
  border: none;
  width: 48px;
}

.principal .principal-first, .principal .principal-second {
  width: calc(50% - 20px);
}

.principal .principal-first{
  margin-left: 90px;
  margin-right: 100px;
  position: sticky;
  margin-top: 80px;
}

.principal-title, .second-title {
  font-size: 3.5em;
  font-weight: normal;
}

.principal .description {
  font-size: 24px;
  margin-top: 30px;
}

.principal-second {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 20px;
}

.product-link a {
  padding: 20px 0;
}

.product-link{
  width: 100%;
  text-align: center;
  background: #fff;
  border-radius: 7px;
  padding: 20px 0;
}

.product-link a img{
  max-width: 150px;
}

.principal-second p {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: .5px;
  margin: 0;
}

.second {
  padding: 70px;
  height: 90vh;
}
.container-head {
  text-align: center;
}

.whats-here-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.whats-here {
  width: 33%;
  max-width: 340px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.whats-here p {
  text-align: center;
}

.fa-clock, .fa-calendar-alt, .fa-store {
  color: rgb(255, 68, 31);
  font-size: 34px;
}

.brand-list ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  padding: 30px 0;
}

.card-container {
  display: flex;
  gap: 100px;
  padding: 90px;
}

.card-container-img, .card-container-text{
  max-width: calc(50% - 16px);
  height: auto
}

.card-container-img img {
  width: 100%;
  border-radius: 7px;
}

 .btn_green {
   border: none;
   background-color: rgb(41, 216, 132); 
   padding: 5px 10px;
   border-radius: 4px;
   color: #fff;
   font-weight: bold;
 }

.list-category-wrap-foot {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   padding: 70px;
 }

.foot-title {
  font-weight: 800;
}

footer ul li {
  list-style: none;
  width: 170px;
  display: inline-block;
  margin-bottom: 10px;
  margin-right: 40px;
}

footer ul li a {
  color: rgb(106, 105, 110);
  line-height: 1.8;
}

footer ul {
  margin: 0;
  padding: 0;
  max-width: 460px;
  width: 100%;
  padding: 20px 0;
}

.category-foot {
  padding: 0;
}

.last-footer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.social a{
  font-size: 30px;
  color: rgb(106, 105, 110);
  margin: 0 7px;
}

.os button{
  border-radius: 7px;
  background-color: rgb(94, 0, 190);
  height: 40px;
  color: #fff;
  padding: 5px 15px;
  border: none;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  font-weight: 700;
}

.restaurant-detail-wrap {
  grid-area: header;
  padding: 40px;
  display: flex;
}

.menu-restaurant {
  grid-area: menu;
  display: grid;
  padding: 40px;
}

.menu-list-link {
  display: grid;
}

.menu-list-link a {
  display: flex;
  justify-content: space-between;
}
.products-restaurant {
  grid-area: detail;
}

.delivery-details {
  display: flex;
  justify-content: space-between;
}

.restaurant-wrap {
  display: grid;
  height: 100%;
  scroll-behavior: smooth;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 242px 51px calc(100vh - 331px);
  grid-template-areas: 
    "header header"
    "menu detail"
    "menu detail";
}